
node_modules/
# Python cache files
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Node.js dependencies (si estás usando algo como npm)
node_modules/

# Editor settings
.vscode/

# Environment files
.env

# Ignore everything in huggingface folder except README.md
huggingface/*
!huggingface/README.md